<div class="w-full max-w-xs mx-auto">
  <h2 class="text-center">Resend Unlock Info</h2>

  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: "bg-white mb-4 px-8 pt-6 pb-8 rounded shadow-md" }) do |f| %>
    <%= devise_error_messages! %>

    <div class="mb-4">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email,
        autofocus: true,
        autocomplete: "email",
        class: "form-input"
      %>
    </div>

    <div class="mb-4">
      <%= f.submit "Resend unlock instructions", class: "btn-blue w-full" %>
    </div>

    <%= render "devise/shared/links" %>
  <% end %>
</div>