<!DOCTYPE html>
<html>
  <head>
    <title>Rails From Scratch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="bg-teal-300">
      <div class="container mx-auto max-w-screen-md">
        <%= render 'layouts/navigation' %>
      </div>
    </div>

    <div class="container mx-auto max-w-screen-md">
      <main class="p-6">
        <%= render 'layouts/alerts' %>

        <%= yield %>
      </main>
    </div>
  </body>
</html>
